# Importing Libraries

In [37]:
import pandas as pd
import numpy as np
import requests #used for making http requests
from bs4 import BeautifulSoup  #used for scraping data

# Making empty list where the data will be stored

In [40]:
prod_name=[]
price=[]
reviews=[]

In [71]:
for i in range(1,10):
    url='https://www.flipkart.com/search?q=mobiles%20under%2050000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'+str(i)
    r=requests.get(url)
    soup=BeautifulSoup(r.text,'lxml')
    box=soup.find('div',class_="_1YokD2 _3Mn1Gg")
    
    name=box.find_all('div',class_="_4rR01T")
    for i in name:
        name=i.text
        prod_name.append(name)
        
    pric=box.find_all('div',class_="_30jeq3 _1_WHN1")
    for i in pric:
        name=i.text
        price.append(name)
        
        
    rew=box.find_all('div',class_="_3LWZlK")
    for i in rew:
        name=i.text
        reviews.append(name)

# Data framing

In [72]:
df=pd.DataFrame({'Prod_name':prod_name,'Price':price,'reviews':reviews})
df

                                              Prod_name    Price reviews
0             SAMSUNG Galaxy Z Flip3 5G (Cream, 128 GB)  ₹45,999     4.3
1     SAMSUNG Galaxy Z Flip3 5G (Phantom Black, 128 GB)  ₹45,999     4.3
2                   Google Pixel 7 (Lemongrass, 128 GB)  ₹46,999     4.3
3                     Google Pixel 7 (Obsidian, 128 GB)  ₹46,999     4.3
4                         Google Pixel 7 (Snow, 128 GB)  ₹46,999     4.3
...                                                 ...      ...     ...
8251        OPPO Reno7 Pro 5G (Startrails Blue, 256 GB)  ₹47,990     4.3
8252        OPPO Reno7 Pro 5G (Starlight Black, 256 GB)  ₹47,990     4.3
8253                OnePlus 9 5G (Astral Black, 256 GB)  ₹45,999       4
8254  Tecno Phantom X2 Pro Retractable 50MP Portrait...  ₹42,999     4.2
8255              realme GT 2 Pro (Paper White, 256 GB)  ₹48,990     4.3

[8256 rows x 3 columns]

In [73]:
df.sample(10)

                                              Prod_name    Price reviews
5031                     vivo V29 Pro 5G (Blue, 256 GB)  ₹46,049     4.5
3207                Apple iPhone 6 Plus (Silver, 64 GB)  ₹48,999     4.5
2760          SAMSUNG Galaxy Z Flip3 5G (Cream, 128 GB)  ₹45,999     4.3
6119  Tecno Phantom X2 Pro Retractable 50MP Portrait...  ₹42,999     4.2
6425                        IQOO 9T 5G (LEGEND, 128 GB)  ₹49,499     4.1
1250                Google Pixel 7 (Lemongrass, 128 GB)  ₹46,999     4.3
1333                     vivo X90 (Breeze Blue, 256 GB)  ₹47,490     4.4
5520                    vivo V29 Pro 5G (Black, 256 GB)  ₹42,999     4.5
5838         OnePlus 10 Pro 5G (Emerald Forest, 128 GB)  ₹44,599     4.2
2675         OnePlus 10 Pro 5G (Emerald Forest, 128 GB)  ₹45,990     4.2

In [74]:
df.shape

(8256, 3)

In [75]:
df.isnull().sum()

Prod_name    0
Price        0
reviews      0
dtype: int64

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8256 entries, 0 to 8255
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Prod_name  8256 non-null   object
 1   Price      8256 non-null   object
 2   reviews    8256 non-null   object
dtypes: object(3)
memory usage: 193.6+ KB

In [77]:
df.describe()

                                         Prod_name    Price reviews
count                                         8256     8256    8256
unique                                          26       21       7
top     OnePlus 10 Pro 5G (Emerald Forest, 128 GB)  ₹45,999     4.3
freq                                           688     1032    2497

# Saving data in laptop

In [79]:
df.to_csv('E://working_DATA//flipcart_mobile.csv')